<div class="hero-container">

    <nav class="navbar">
        <div class="logo">🎓 EduSmart</div>
    </nav>

    <div class="hero-content">
        <h1 class="hero-title">Welcome to <span>EduSmart</span></h1>
        <p class="hero-subtitle">
            A Smart College Management Platform that centralizes scheduling,
            academic workflows, virtual classrooms, and communication —
            all in one intelligent system.
        </p>

        <div class="hero-buttons">
            <button class="btn-login" (click)="goToLogin()">Login</button>
            <button class="btn-register" (click)="goToApplication()">Fill the information sheet</button>
        </div>
    </div>

</div>